@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux/dist/**/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    h1 {
        @apply text-3xl font-bold
    }

    h2 {
        @apply text-2xl font-bold
    }
}

@layer components {
    .btn {
        @apply px-3 py-2 rounded bg-slate-100 text-slate-900 dark:bg-zinc-800 dark:text-zinc-100 transition
    }

    .btn-primary {
        @apply bg-blue-600 text-white hover:bg-blue-700 dark:bg-blue-600 dark:hover:bg-blue-500
    }
}